.place__section-title {
    width: 100%;
    display: flex;
    margin-bottom: 48px;
}

@media (max-width: 650px) {
    .place__section-title {
    margin-bottom: 32px;
    flex-direction: column;
  }
}