.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));

    gap: 16px;
    padding-left: 48px;
    padding-right: 48px;
}


@media (max-width: 1050px) {
    .photo-grid {
        gap: 14px;
    }
  }
  @media (max-width: 820px) {
    .photo-grid {
        gap: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
  }
  @media (max-width: 450px) {
    .photo-grid {
        gap: 12px;
        padding-left: 16px;
        padding-right: 16px;
        grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  }
  }
