.places {
    max-width: 984px;
    padding: 92px 48px;
}
  @media (max-width: 820px) {
    .places {
        padding: 88px 24px 90px;
    }
  }
  @media (max-width: 650px) {
    .places {
        padding: 64px 0px 66px;
    }
  }