.header {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px 0;
  max-width: 1184px;
}

@media (max-width: 993px) {
  .header {
    padding: 28px 24px 0;
  }
}
@media (max-width: 450px) {
  .header {
    padding: 16px 16px 0;
  }
}