.footer__link {
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    transition: opacity .2s linear;
}

.footer__link:hover {
    opacity: 0.8;
}