.place__paragraph {
    margin: 0;
}
@media (max-width: 650px) {
    .place__paragraph {
        margin: 0 24px;
    }
  }
  @media (max-width: 650px) {
    .place__paragraph {
        margin: 0 16px;
    }
  }