.place__section-subtitle {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 650px) {
    .place__section-subtitle {
        flex-direction: column;
    }
  }